/* Comment your code 
Remember to create a new branch 
*/

h1 {
font-weight:normal;
font-family: 'Bebas Neue', cursive;
font-size: 90px;
}

h2 {
font-weight:normal;
font-family: 'Bebas Neue', cursive;
font-size: 60px;
}


p {
font-weight:normal;
font-family: 'Roboto', sans-serif;
font-size: 25px;
}

#Title {
text-align: center;

}

#BlueTitle {
background-color: blue;

width: 100%;
height: 200px;
color: white;
}

#PurpleTitle {
background-color: rgb(128,0, 255);

width: 100%;
height: 200px;
color: white;
}

#PinkTitle {
background-color: rgb(255, 0, 255);

width: 100%;
height: 200px;
color: white;
}

#GreenTitle {
background-color: rgb(0, 255, 0);

width: 100%;
height: 200px;
}

#LightBlueTitle {
background-color: rgb(0, 255, 255);

width: 100%;
height: 200px;
}

#WhiteText {
background-color: rgb(0, 0, 0);
position: absolute;
width: 100%;
height: 800px;
color: white;
}