/* Comment your code 
Remember to create a new branch 
*/

h1 {
font-weight:normal;
font-family: 'Bebas Neue', cursive;
font-size: 100px;
}

p {
font-weight:normal;
font-family: 'Roboto', sans-serif;
font-size: 25px;
}

#Title {
text-align: center;
}

